.map-API {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5%;
}

.map-API p {
    margin: 0;
    font-size: medium;
}

.map-API img {
    border-style: double;
    width: 80%;
}