* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'baskerville';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.nav-item {
    font-family: 'baskerville';
    font-size: 1.5em;
}

.company-name {
    justify-items: center;
    width: 10%;
    margin-right: auto;
}

.page-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    /*background-color: rgb(255 155 181 / 60%);*/
    text-align: center;
    font-family: 'baskerville';
    font-size: 1.5em;
    flex-direction: column;
}

.page-head {
    border-bottom: 2px solid #ff00376e;
    margin-top: 50px;
    align-self: center;
    color: #343a40;
    width: 100%;
}

.poster {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster-content {
    position: relative;
    width:50%;
    margin: 50px 0;
}

.poster-content img { width: 100%; }

.overlay-button {
    position: absolute;
    bottom: 15%;
    left: 15.3%;
    width: 69%;
    height: 15%;
    background-color: rgba(171,41,75,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    align-items: center;
    align-content: center;
}

.overlay-button p {
    color: white;
    font-size: 3vw;
    font-weight: normal;
    font-family: 'baskerville';
    margin: 0;
}

.overlay-button:hover {
    background-color: rgba(171,41,75,0.9);
}

.footer {
    background-color: #343a40;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    color: #F33E77;
    margin-top: 100px;
}

.footer p {
    margin: 10px 0;
}

.footer ul {
    margin: 0;
    font-style: italic;
}

.icons{
    height: 150px;
}
